<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>TechTrove</title>
  <style media="screen">
    .footer{
      position: fixed;
    }
  </style>
</head>

<body style="background-color:#f7f7f7;">
  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}
  <br><br><br>
<h3 style="text-align:center;"><p>"Welcome to Mobile Store, your one-stop destination for the latest and greatest mobile devices. We are passionate about technology and dedicated to providing our customers with the best selection of smartphones and accessories.</p>

<p>Our mission is to offer high-quality products at competitive prices while delivering exceptional customer service. With a team of knowledgeable experts, we are here to assist you in finding the perfect mobile solution to fit your needs.</p>

 <p>Whether you're looking for the latest flagship phone, budget-friendly options, or accessories to enhance your mobile experience, Mobile Store has you covered. We value your trust and strive to make your shopping experience seamless and enjoyable.</p>
" </h3>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {% include "ecom/footer.html" %}
</body>


</html>
